{%- comment -%}

    Figure out default "Subjects" and "Locations" page cloud values as configured in in "theme.yml", 
    and set default values for cloud.

{%- endcomment -%}

{%- assign firstLang = site.site_languages[0].lang_id | prepend: 'field-' -%}
{%- assign secondLang = site.site_languages[1].lang_id | prepend: 'field-' -%}

{%- if page.cloud-fields == "site.data.theme.subjects-fields" -%}
    {% assign fields = site.data.theme.subjects-fields %}
    {% assign min = site.data.theme.subjects-min | default: 1 %}
    {% assign stopwords = site.data.theme.subjects-stopwords %}
{%- elsif page.cloud-fields == "site.data.theme.locations-fields" -%}
    {% assign fields = site.data.theme.locations-fields %}
    {% assign min = site.data.theme.locations-min | default: 1 %}
    {% assign stopwords = site.data.theme.locations-stopwords %}
{%- else -%}
    {% assign fields = page.cloud-fields | default: "subjects" %}
    {% assign min = page.cloud-min | default: 1 %}
    {% assign stopwords = page.cloud-stopwords %}
{%- endif -%}
{%- assign cloud-fields = fields | split: ";" -%}

<script>
{% if include.shuffle == true %}
/* Fisher-Yates shuffle https://bost.ocks.org/mike/shuffle/ */
function shuffle(array) {
    var m = array.length, t, i;
    while (m) {
    i = Math.floor(Math.random() * m--);
    t = array[m];
    array[m] = array[i];
    array[i] = t;
    }
    return array;
}
{% endif %}

// figure out the current site language
var current_language = ""; 
if (localStorage.getItem("lang")) { 
    // get the value from local store
    current_language = localStorage.getItem("lang");
} else { 
    // set default value
    current_language = "eng";
    // set value in local store
    localStorage.setItem("lang","eng");
}

// set up first language and second language field names in grand-config-metadata
var first_lang = {{ firstLang | jsonify }};
var second_lang = {{ secondLang | jsonify }};

/* function to create cloud */ 
function makeGrid(terms) {
    // get cloud div
    var cloud = document.getElementById("cloud-{{ page.cloud-fields | slugify }}");
    var i, size;
    var cloud_items = "";
    /* calculate max size */
    var counts = terms.map(function(obj){ return obj[1]; });
    var countMax = counts.reduce(function(a, b) { return Math.max(a, b); });
    {% if page.shuffle == true %}shuffle(terms);{% else %}terms.sort();{% endif %}
    // create each term link
    for (i = 0; i < terms.length; i++) {
        size = Math.round(terms[i][1] * 9 / countMax + 1); 
        cloud_items += '<a class="btn btn-{{ page.button | default: "outline-info" }} m-2 tagcloud' + size + '" href="{{ "/browse.html" | relative_url }}#' + encodeURIComponent(terms[i][0]) + '" >' + terms[i][0] + '</a>';
    }
    cloud.innerHTML = cloud_items;
}

/* create cloud from full metadata */
function pageInit(items) {
    var raw_terms = [];
    // get cloud fields from metadata
    for (var i = 0; i < items.length; i++) {
        {% for c in cloud-fields %}
        {% assign metadata-fields = site.data.grand-config-metadata | where_exp: 'm', 'm.field-id == c' %}
        {%- for m in metadata-fields -%}

        // define language keys
        var first_lang_field = "{{ m[firstLang] }}";
        var second_lang_field = "{{ m[secondLang] }}";

        // add terms based on site language
        var addTerms = field => raw_terms.push(items[i][field]);

        if (second_lang.includes(current_language)) {
            if(items[i][second_lang_field]) { addTerms(second_lang_field); } 
            else if(items[i][first_lang_field]) { addTerms(first_lang_field); }
        } else if (first_lang.includes(current_language)) {
            if(items[i][first_lang_field]) { addTerms(first_lang_field); }
        }
        
        {% endfor %}{% endfor %}
    }
    // split multivalued fields and clean up extra white space
    const re = /\s*;+\s*/;
    var clean_terms = raw_terms.join(";").toLowerCase().split(re);
    // find unique terms
    var unique_terms = clean_terms.filter(function(value, index, self) { return self.indexOf(value) === index; });
    // count unique values and filter based on termsMin
    var terms = [];
    for (var i = 0; i < unique_terms.length; i++) {
        var count = clean_terms.filter(function(t) { return t == unique_terms[i] }).length;
        if (count >= {{ min | default: 1 }}) {
            terms.push([unique_terms[i],count]);
        }
    }
    {% if stopwords %}/* apply stopwords */
    var stopWords = {{ stopwords | downcase | split: ';' | jsonify }};
    terms = terms.filter(function(a) { return stopWords.indexOf(a[0]) < 0;});{% endif %}
    // create cloud
    makeGrid(terms);
};

{% assign items = site.data[site.metadata] %}

/* add items */
var objects = [
    {% for i in items %}
    {
        {%- for f in site.data.grand-config-metadata %}
        {%- assign firstLangField = f[firstLang] -%}
        {%- assign secondLangField = f[secondLang] -%}
        {%- for c in cloud-fields -%}
        {%- if c == f.field-id -%}
            {%- if i[firstLangField] and i[secondLangField] -%}
            {{ firstLangField | jsonify }}:{{ i[firstLangField] | jsonify }}, {{ secondLangField | jsonify }}:{{ i[secondLangField] | jsonify }}, 
            {%- elsif i[firstLangField] and i[secondLangField] == nil -%}
            {{ firstLangField | jsonify }}:{{ i[firstLangField] | jsonify }},
            {%- endif -%}
        {%- endif -%}
        {%- endfor -%}
        {%- endfor -%}
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
];

pageInit(objects);

// reload page if language button is clicked
$("input[name='lang_options']").change(function(){
  window.location.reload();
});

</script>