{%- assign metadata-fields = site.data.config-metadata -%}
{%- assign fields = site.data.grand-config-metadata -%}
{%- assign stubs = site.data.config-nav | map: 'stub' | join: ';' -%}
{%- assign firstLang = site.site_languages[0].lang_id | prepend: 'field-' -%}
{%- assign secondLang = site.site_languages[1].lang_id | prepend: 'field-' -%}

<script src="{{ '/assets/lib/lightgallery/js/lightgallery-all.min.js' | relative_url }}"></script>
<script>
(function(){
    /* add item data */
    var items = { 
        {%- for item in site.data[site.metadata] -%}
        {{ item.objectid | jsonify }} : { {% unless fields contains 'title' %}"title": {{ item.title | jsonify }}, {% endunless %}
        {%- for f in fields -%}
        {%- assign firstLangField = f[firstLang] -%}
        {%- assign secondLangField = f[secondLang] -%}
        {%- for m in metadata-fields -%}
        {%- if f.field-id == m.field-id -%}
            {%- if item[firstLangField] and item[secondLangField] -%}
            {{ firstLangField | jsonify }}:{{ item[firstLangField] | jsonify }}, {{ secondLangField | jsonify }}:{{ item[secondLangField] | jsonify }}, 
            {%- elsif item[firstLangField] and item[secondLangField] == nil -%}
            {{ firstLangField | jsonify }}:{{ item[firstLangField] | jsonify }},
            {%- endif -%}
        {%- endif -%}{%- endfor -%}{%- endfor -%}{% if item.youtubeid %} "youtube": {{ item.youtubeid | jsonify }}, {% endif %}{% if item.vimeoid %} "vimeo": {{ item.vimeoid | jsonify }}, {% endif %}"format": {{ item.format | jsonify }}, {% if  item.filename contains '/' %}"filename": "{{ item.filename }}" {% else %}"filename":{{ '/objects/' | relative_url | append: item.filename | jsonify }}{% endif %} }{% unless forloop.last %}, {% endunless %}
        {% endfor %}
    };

    // figure out the current language
    var current_language = ""; 
    if (localStorage.getItem("lang")) { 
      // get the value from local store
      current_language = localStorage.getItem("lang");
    } else { 
      // set default value
      current_language = "eng";
      // set value in local store
      localStorage.setItem("lang","eng");
    }

    // get first language and second language fields in grand-config-metadata
    var first_lang = {{ firstLang | jsonify }};
    var second_lang = {{ secondLang | jsonify }};

    /* get query id from URL */
    var queryString = window.location.search.substring(1).split("=")[1];
    var record = items[queryString];

    if (record) {
        // itemKeys and current moved up from browse button section below
        var itemKeys = Object.keys(items);
        var current = itemKeys.indexOf(queryString);
        var recordName = Object.keys(items)[current];
        /* add item title */
        var objectTitle = record.title;
        document.getElementById("bc-title").innerHTML = '<span data-translate="title-value-' + recordName + '" class="translate"></span>';
        document.getElementById("item-title").innerHTML = '<span data-translate="title-value-' + recordName + '" class="translate"></span>';
        /* add object */ 
        var format = "" + record.format;
        var objectLink = record.filename;
        var itemImage, itemLink;
        if (format.includes('image')) {
            itemImage= '<div class="gallery-img" data-src="' + objectLink + '"><img class="img-fluid" src="' + objectLink + '" alt="' + objectTitle + '"><p><small><span data-translate="view-full" class="translate"></span></small></p></div>';
            itemLink= '<a href="' + objectLink + '" target="_blank" class="btn btn-dark" title="Object download"><span data-translate="item-download-image" class="translate"></span></a>';
        } else if (format.includes('pdf')) {
            itemImage= '<object data="' + objectLink + '" type="application/pdf" width="100%" height="450px"><span data-translate="pdf-render" class="translate"></span></object>';
            itemLink= '<a href="' + objectLink + '" target="_blank" class="btn btn-dark" title="Object download"><span data-translate="item-download-pdf" class="translate"></span></a>';
        } else if (format.includes('audio')) {
            itemImage= '<audio controls class="w-100"><source src="' + objectLink + '"><span data-translate="audio-support" class="translate"></span></audio>';
            itemLink= '<a href="' + objectLink + '" target="_blank" class="btn btn-dark" title="Object download"><span data-translate="item-download-audio" class="translate"></span></a>';
        } else if (record.youtube) {
            itemImage= '<div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/' + record.youtube + '?rel=0&modestbranding=1" allowfullscreen></iframe></div>';
            itemLink= '<a href="https://youtu.be/' + record.youtube + '" target="_blank" class="btn btn-dark" title="Object download"><span data-translate="item-view-youtube" class="translate"></span></a>';
        } else if (record.vimeo) {
            itemImage= '<div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://player.vimeo.com/video/' + record.vimeo + '" allowfullscreen></iframe></div>';
            itemLink= '<a href="https://vimeo.com/' + record.vimeo + '" target="_blank" class="btn btn-dark" title="Object download"><span data-translate="item-view-vimeo" class="translate"></span></a>';
        } else if (format.includes('video')) {
            itemImage= '<video controls class="w-100"><source src="' + objectLink + '"><span data-translate="video-support" class="translate"></span></audio>';
            itemLink= '<a href="' + objectLink + '" target="_blank" class="btn btn-dark" title="Object download"><span data-translate="item-download-video" class="translate"></span></a>';
        } else {
            /* fall back to no preview if it doesn't know the format */
            itemImage= '<img class="w-50" src="{{ "/assets/img/file.svg" | relative_url }}" alt="No preview found">';
            itemLink= '<a href="' + objectLink + '" target="_blank" class="btn btn-dark" title="Object download"><span data-translate="item-download-object" class="translate"></span></a>';
        }

        {% if stubs contains "timeline" %}
        /* add link to view on timeline */
        if (record.date) {
            var itemYear;
            if (record.date.includes('-')) {
                itemYear = record.date.split('-')[0];
            } else if (record.date.includes('/')) {
                itemYear = record.date.split('/').pop();
            } else {
                itemYear = record.date;
            }
            itemLink += '<a href="{{ "/timeline.html" | relative_url }}#' + itemYear + '" class="ml-2 btn btn-outline-dark"><span data-translate="view-timeline" class="translate"></span></a>';
        }
        {%- endif -%}
        {% if stubs contains "map" %}
        /* add link to view on map */ 
        if (record.latitude && record.longitude) {
            itemLink += '<a href="{{ '/map.html' | relative_url }}#' + record.latitude + ',' + record.longitude + '" class="ml-2 btn btn-outline-dark"><span data-translate="view-map" class="translate"></span></a>';
        }
        {%- endif -%}

        /* add content to item display area */
        document.getElementById("item-image").innerHTML = itemImage;
        document.getElementById("item-link").innerHTML = itemLink;
        
        /* trigger lightGallery for images */
        if (format.includes('image')) {
            $("#item-image").lightGallery({
                selector: '.gallery-img'
            });
        }

        /* add item metadata */
        var fields = '<dl>';
        {% for m in metadata-fields %}{% for f in fields %}{% if f.field-id == m.field-id %}
        {%- assign firstLangField = f[firstLang] -%}
        {%- assign secondLangField = f[secondLang] -%}

        var first_lang_field = {{ firstLangField | jsonify }};
        var second_lang_field = {{ secondLangField | jsonify }};

        {%- if m.browse_link == "true" -%}

        function addLinks(field_value){
            var topics = field_value.split(';');
            var browseLinks = "";
            for (var i = 0, len = topics.length; i < len; i++) {
                if (topics[i] != "") {
                    browseLinks += '<a class="btn btn-link" href="{{ '/browse.html' | relative_url }}#' + encodeURIComponent(topics[i].trim()) + '">' + topics[i].trim() + '</a> ';
                }
            }
            fields += "<dt class='field'>{{ m.display_name }}:</dt> <dd class='field-value'>" + browseLinks + "</dd>";
        };

        if (second_lang.includes(current_language)) {
            if (record[second_lang_field]) { addLinks(record[second_lang_field]); } 
            else if (record[first_lang_field]) { addLinks(record[first_lang_field]); }
        } else if (first_lang.includes(current_language)) { addLinks(record[first_lang_field]); }

        {%- else -%}
        
        if (second_lang.includes(current_language)){
            if (record[second_lang_field]) { 
                fields += "<dt class='field'>{{ m.display_name }}:</dt> <dd class='field-value'>{% if m.external_link == 'true' %}<a href='" + record[second_lang_field] + "' target='_blank' rel='noopener'>" + record[second_lang_field] + "</a>{% else %}" + record[second_lang_field] + "{% endif %}</dd>";
            } else if (record[first_lang_field]) {
                fields += "<dt class='field'>{{ m.display_name }}:</dt> <dd class='field-value'>{% if m.external_link == 'true' %}<a href='" + record[first_lang_field] + "' target='_blank' rel='noopener'>" + record[first_lang_field] + "</a>{% else %}" + record[first_lang_field] + "{% endif %}</dd>"; 
            } 
        } else if (first_lang.includes(current_language)) {
            if (record[first_lang_field]) { fields += "<dt class='field'>{{ m.display_name }}:</dt> <dd class='field-value'>{% if m.external_link == 'true' %}<a href='" + record[first_lang_field] + "' target='_blank' rel='noopener'>" + record[first_lang_field] + "</a>{% else %}" + record[first_lang_field] + "{% endif %}</dd>"; }
        }
        {% endif %}{% endif %}{% endfor %}{% endfor %}
        fields += '</dl>';
        document.getElementById("item-metadata").innerHTML = fields;

        {% if site.data.theme.browse-buttons == true %}
        /* add prev/next nav */
        // Moved these up to the start of the function to grab the name of the key for the current record
        // var itemKeys = Object.keys(items);
        // var current = itemKeys.indexOf(queryString);
        var last = itemKeys.length - 1;
        var back, forward;
        if (current === 0) {
            back = itemKeys[last];
        } else { 
            back = itemKeys[current - 1];
        }
        if (current === last) {
            forward = itemKeys[0];
        } else {
            forward = itemKeys[current + 1];
        }
        var backUrl = "{{ '/item.html?id=' | relative_url }}" + back;
        var forwardUrl = "{{ '/item.html?id=' | relative_url }}" + forward;
        /* add side buttons to page */
        document.getElementById("back-button").href = backUrl;
        document.getElementById("next-button").href = forwardUrl;
        /* add bottom buttons to page */
        document.getElementById("prev-button").href = backUrl;
        document.getElementById("for-button").href = forwardUrl;

        /* add back forward key press */
        document.onkeydown = function(evt) {
        evt = evt || window.event;
        switch (evt.keyCode) {
            case 37:
            location.href = backUrl;
                break;
            case 39:
            location.href = forwardUrl;
                break;
        }};
        {%- endif -%}
        
    } else {
        /* no item with that ID */
        document.getElementById("bc-title").innerHTML = 'Not found?';
        document.getElementById("item-title").innerHTML = 'Sorry, item not found. Please visit <a href="{{ "/browse.html" | relative_url }}">Browse page</a> to find an item.';
    }

    /* all done, so hide loading animation */
    document.getElementById("loading").style.display = "none";

})();

// reload page if language button is clicked
$("input[name='lang_options']").change(function(){
  window.location.reload();
});

</script>
