{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' -%}
{%- assign fields = site.data.grand-config-metadata -%}

<script>

// set up translations dictionary
var translations = { 
    {% for t in site.data.config-translation %}
    "{{ t.data_translate }}": { 
        {% for l in site.site_languages %}
        "{{ l.lang_id }}": "{{ t[l.lang_id] }}"{% unless forloop.last %},{% endunless %}{% endfor %}
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
}

var translationFieldNames = {
    {% for f in fields %}
    {{ f.field-id | append: '-display-name' | jsonify }}: { 
        {% for l in site.site_languages %}
        {% assign display = l.lang_id | prepend: 'display_name_' %}
        "{{ l.lang_id }}": {{ f[display] | jsonify }}{% unless forloop.last %},{% endunless %}{% endfor %}
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
}


let translationValues = {
    {%- assign firstLang = site.site_languages[0].lang_id | prepend: 'field-' -%}
    {%- assign secondLang = site.site_languages[1].lang_id | prepend: 'field-' -%}
    {% for i in items %}{% for f in fields %}
        {%- assign firstLangField = f[firstLang] -%}
        {%- assign secondLangField = f[secondLang] -%}
        {% if i[firstLangField] and i[secondLangField] %}
        {{ f.field-id | append: '-value-' | append: i.objectid | jsonify }}: {
            {% for l in site.site_languages %}
            {% assign data-translate = l.lang_id | prepend: 'field-' %}
            {% assign data-value = f[data-translate] %}
            "{{ l.lang_id }}": {{ i[data-value] | jsonify }}{% unless forloop.last %},{% endunless %}{% endfor %}
        }{% unless forloop.last %},{% endunless %}
    {% endif %}{% endfor %}{% endfor %}
}

const allTranslations = {};

$.extend(allTranslations, translations, translationFieldNames, translationValues);

console.log(allTranslations);

//console.log(allTranslations);

// function to set all translated spans
function fillTranslationSpans () {
    // find all translate spans
    document.querySelectorAll(".translate").forEach( node => {
        // find text for site language
        // there needs to be a bunch of ifs to ensure there is a fall back!
        let id = node.getAttribute("data-translate");
        //console.log(id);
        let span_text = allTranslations[id][site_language];
        // add to the span element
        node.innerHTML = span_text;
    });
}

// get site language, store in localStorage, or load from localStorage
var site_language = ""; 
if (localStorage.getItem("lang")) { 
    // get the value from local store
    site_language = localStorage.getItem("lang");
} else { 
    // set default value
    site_language = "eng";
    // set value in local store
    localStorage.setItem("lang","eng");
}

// set button to checked
document.querySelector("#" + site_language).checked = true;

// show the default language (from old)
$("." + site_language).show();

// run function to fill translation spans after load
fillTranslationSpans();

// radio button selects language
$("input[name='lang_options']").change(function(){
    // hide the current language (from old)
    $("." + site_language).hide();
    // set the selected language
    site_language = this.value;
    // show the selected language (from old)
    $("." + site_language).show();
    // store the new selected language
    localStorage.setItem("lang", site_language);
    // run function to fill translation spans
    fillTranslationSpans();
});

// set selected button to checked
document.querySelector("#" + site_language).checked = true;

</script>