{% assign fcount = site.data.config-table | size %}
{%- assign firstLang = site.site_languages[0].lang_id | prepend: 'field-' -%}
{%- assign secondLang = site.site_languages[1].lang_id | prepend: 'field-' -%}

<script type="text/javascript" language="javascript" src="{{ '/assets/lib/datatables/datatables.min.js' | relative_url }}"></script>
<script>
// figure out the current language
var current_language = ""; 
if (localStorage.getItem("lang")) { 
    // get the value from local store
    current_language = localStorage.getItem("lang");
} else { 
    // set default value
    current_language = "eng";
    // set value in local store
    localStorage.setItem("lang","eng");
}

// get second language field name in grand-config-metadata
let second_lang = "{{ secondLang }}";

// figure out correct path to data
let data_path = "";
second_lang.includes(current_language) ? data_path = '{{ "/assets/js/metadata_second_lang.min.json" | relative_url }}' : data_path = '{{ "/assets/js/metadata.min.json" | relative_url }}';

/* use jquery to initialize DataTables and load collection data */
(function(){
    $('#item-table').DataTable( {
        // use DataTables ajax load to 
        ajax: { url: data_path, dataSrc: 'objects' },
        // defer render to speed up large sets
        "deferRender": true,
        // enable pagination 
        "paging": true,
        "lengthMenu": [[ 25, 50, 100, -1], [ 25, 50, 100, "All"]],
        // add download features
        dom: 'B<"row mt-2"<"col-md-6"l><"col-md-6"f>>t<"row"<"col-md-6"i><"col-md-6"p>>', 
        buttons: [ 'excelHtml5', 'csvHtml5' ],
        // set up the columns from the json
        columns: [ {% for i in (0..fcount) %}{ data: '{{ i }}' }{% unless forloop.last %},{% endunless %}{% endfor %} ],
        columnDefs: [ 
            // turn relative link into absolute
            { "render": function ( data ) { return '{{ site.url }}' + data; },"targets": {{ fcount }} },
            // combine link with first column
            { "render": function ( data, type, row ) { return '<a href="' + row['{{ fcount }}'] +'">'+ data +'</a>'; },"targets": 0 },
            // hide the link column
            { "visible": false,  "targets": [ {{ fcount }} ] }
        ],
        // sort based on the second column
        order: [[ 1, "asc" ]]
    });
})();

// reload page if language button is clicked
$("input[name='lang_options']").change(function(){
  window.location.reload();
});
</script>
