{% comment %}
    This include creates a modal pop up with data export options.
    The logic of which formats appear is based on config-nav stubs:
    if subject.html, map.html, location.html, or timeline.html are present, 
    corresponding data formats will be available for download.
{%- endcomment -%}

{%- assign stubs = site.data.config-nav | map: 'stub' | join: ';' -%}
<button type="button" class="btn btn-info btn-lg float-md-right" data-toggle="modal" data-target="#dataModal"><span data-translate="data-download" class="translate"></span></button>
<!-- Modal -->
<div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="dataModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dataModalLabel"><span data-translate="collection-data" class="translate"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <p><span data-translate="collection-data-text" class="translate"></span></p>
                
                {% if site.data.theme.metadata-export-fields %}
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title"><span data-translate="complete-metadata" class="translate"></span></h5>
                        <p class="card-text"><span data-translate="complete-metadata-text" class="translate"></span></p>
                        <a href="{{ '/assets/data/metadata.csv' | relative_url }}" class="btn btn-outline-dark" target="_blank"><span data-translate="metadata-csv" class="translate"></span></a>
                        <a href="{{ '/assets/data/metadata.json' | relative_url }}" class="btn btn-outline-dark" target="_blank"><span data-translate="metadata-json" class="translate"></span></a>
                    </div>
                </div>
                {%- endif -%}
                {% if site.data.theme.metadata-facets-fields %}
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title"><span data-translate="metadata-facets" class="translate"></span></h5>
                        <p class="card-text"><span data-translate="metadata-facets-text" class="translate"></span></p>
                        <a href="{{ '/assets/data/facets.json' | relative_url }}" class="btn btn-outline-dark" target="_blank"><span data-translate="facets-json" class="translate"></span></a>
                    </div>
                </div>
                {%- endif -%}
                {% if stubs contains "subject" %}
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title"><span data-translate="subject-metadata" class="translate"></span></h5>
                        <p class="card-text"><span data-translate="subject-metadata-text" class="translate"></span></p>
                        <a href="{{ '/assets/data/subjects.csv' | relative_url }}" class="btn btn-outline-dark" target="_blank"><span data-translate="subjects-csv" class="translate"></span></a>
                        <a href="{{ '/assets/data/subjects.json' | relative_url }}" class="btn btn-outline-dark" target="_blank"><span data-translate="subjects-json" class="translate"></span></a>
                    </div>
                </div>
                {% endif %}
                {% if stubs contains "location" %}
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title"><span data-translate="data-locations" class="translate"></span></h5>
                        <p class="card-text"><span data-translate="data-locations-text" class="translate"></span></p>
                        <a href="{{ '/assets/data/locations.csv' | relative_url }}" class="btn btn-outline-dark" target="_blank"><span data-translate="locations-csv" class="translate"></span></a>
                        <a href="{{ '/assets/data/locations.json' | relative_url }}" class="btn btn-outline-dark" target="_blank"><span data-translate="locations-json" class="translate"></span></a>
                    </div>
                </div>
                {%- endif -%}
                {% if stubs contains "map" %}
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title"><span data-translate="data-geojson" class="translate"></span></h5>
                        <p class="card-text"><span data-translate="data-geojson-text" class="translate"></span></p>
                        <a href="{{ '/assets/data/geodata.json' | relative_url }}" class="btn btn-outline-dark" target="_blank"><span data-translate="geodata-json" class="translate"></span></a>
                    </div>
                </div>
                {%- endif -%}
                {% if stubs contains "timeline" %}
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title"><span data-translate="data-timeline" class="translate"></span></h5>
                        <p class="card-text"><span data-translate="data-timeline-text" class="translate"></span></p>
                        <a href="{{ '/assets/data/timelinejs.json' | relative_url }}" class="btn btn-outline-dark" target="_blank"><span data-translate="timelinejs-json" class="translate"></span></a>
                    </div>
                </div>
                {%- endif -%}
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title"><span data-translate="data-source" class="translate"></span></h5>
                        <p class="card-text"><span data-translate="data-source-text" class="translate"></span></p>
                        <a href="{{ site.source-code | default: 'https://github.com/CollectionBuilder/collectionbuilder-gh' }}" class="btn btn-outline-dark" target="_blank"><span data-translate="source-code" class="translate"></span></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
