<footer class="bg-dark mt-auto pt-4 container-fluid">

    <div class="row align-items-center border-bottom border-white pb-4 mb-2">

        <div class="col-md-8 mt-2">

            <h4><a href="{{ '/' | relative_url }}" class="text-white font-weight-normal"><span data-translate="site-title" class="translate"></span></a></h4>
            <p class="text-white"><small><span data-translate="site-description" class="translate"></span></small></p>
            <nav>
                <ul class="nav nav-pills">
                    {%- assign navItems = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nil' -%}
                    {% for nav in navItems %}
                    <li class="nav-item">
                    {% if nav.stub %}
                        <a class="nav-link text-light{% if page.url == nav.stub %} active{% endif %}" href="{{ nav.stub | relative_url }}">{{ nav.display_name }}</a>
                    {%- else -%}
                    {% assign childStub = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nav.display_name' | first %}
                        <a class="nav-link text-light{% if page.url == childStub.stub %} active{% endif %}" href="{{ childStub.stub | relative_url }}">{{ nav.display_name }}</a>
                    {% endif %}
                    </li>
                    {%- endfor -%}
                </ul>
            </nav>

        </div>

        <div class="col-md-4 mt-2 text-right">
            <p class="text-white" id="footer-credits">
                <small><em><span data-translate="home-built" class="translate"></span></em>
                    <a href="https://collectionbuilder.github.io/" target="_blank" rel="noopener" title="CollectionBuilder">
                        <img src="{{ '/assets/img/collectionbuilder-logo.png' | relative_url }}" class="img-fluid" alt="CollectionBuilder logo" >
                    </a>
                </small>
            </p>
        </div>

    </div>

    <div class="col-md-12 text-center pt-3 pb-1">
        <p class="text-white"><span data-translate="home-update" class="translate"></span> {{ site.time | date: '%Y' }}</p>
    </div>

</footer>