<div class="container-fluid mt-4 mb-n3 bg-light p-4 " id="technical">
    <div class="container mt-4 border rounded p-4">
        <h3><span data-translate="tech-heading" class="translate"></span></h3>
        <div class="row my-2 justify-content-center">
            <div class="col-md-8 p-4">
                <p><span data-translate="tech-p1" class="translate"></span></p>

                <p><span data-translate="tech-p2" class="translate"></span></p>
            </div>
            <div class="col-md-4 text-center">
                <h4><span data-translate="tech-info" class="translate"></span></h4>
                <a class="btn btn-outline-info my-2" target="_blank" rel="noopener" href="https://collectionbuilder.github.io/about.html#tool"><span data-translate="tech-specs" class="translate"></span></a>
                <br>
                <a class="btn btn-outline-secondary my-2" target="_blank" rel="noopener" href="https://collectionbuilder.github.io/about.html#grant"><span data-translate="tech-imls" class="translate"></span></a>
            </div>
        </div>
    </div>
</div>